# binaries
sanepr   

# personal
preload/startx

# one-off things
main.c
test

# external 
unversioned/
ext/

# output junk
perf.data*
a.out

# secret stuff
*.ovpn
secrets/
setdefmac
*password*

# old cringe
aliases_old
wlogin

*.mp4
